{% extends 'layout.html' %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam sequi assumenda voluptas aliquam eligendi,
  voluptatum amet consectetur nam vel illum, dolor omnis minima odio enim nihil officia dolores. Quaerat, suscipit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam iste beatae corrupti hic nobis, nostrum ipsa
  eaque placeat autem odit architecto natus, debitis cupiditate nihil aut unde, vero voluptates!</p>
{% endblock body %}